* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  background-color: black;
}

.logo{
  width: 120px;
  height: 30px;

  
}

.menu_header{
 width: 30px;
 height: 30px;
}