<footer class="footer">
  <div class="footer_right">
    <small class="small text">España</small>
    <img
      class="small flag"
      src="./assets/images/es.svg"
      alt="Banderita de España"
    />
  </div>
  <nav class="small line">
    <ul>
      <small class="small line line1"><li>Legal</li></small>
      <small class="small line line1"><li>Cookies</li></small>
      <small class="small line_left">
        <li>Información sobre los anuncios</li>
      </small>
    </ul>
  </nav>
  <small class="small line line2">© 2019 Spotify</small>
</footer>
