<main class="main">
  <section class="section1">
    <h1 class="titulo_h1">Prueba Premium gratis 3 meses</h1>
    <p class="text_hero">
      Escucha millones de canciones sin anuncios, a la carta y sin conexión.
    </p>
    <a href="#">Ver planes</a>
    <p class="text_hero_small">
      Rigen términos y condiciones. Los tres meses gratis no están disponibles
      para usuarios que ya hayan probado Premium
    </p>
  </section>
  <section class="section2">
    <h2 class="h2">¿Por qué pasarte a Premium?</h2>
    <include src="./main_box.html" title="Descarga música" description="Llévala siempre contigo."></include>
    <include src="./main_box.html" title="Sin anuncios." description="Disfruta de música sin interrupciones."></include>
    <include src="./main_box.html" title="Escucha lo que quieres" description="Incluso en el móvil"></include>
    <include src="./main_box.html" title="Salta todas las canciones que quieras." description="Simplemente dale a siguiente."></include>
  </section>
</main>
